.alice-carousel__dots {
    margin: 0;
}

.alice-carousel__dots-item:not(.__custom) {
    display: inline-block;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #4a4a4a;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 10px;
}

.alice-carousel__dots-item:not(.__custom):hover {
    background-color: #004219;
}

.alice-carousel__dots-item:not(.__custom).__active {
    background-color: #004219;
    width: 20px;
    border-radius: 20px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none
}